@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lora:wght@400;700&family=Poppins:wght@100;400;500&display=swap');

div {
    border: 1px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    }

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #F2F4F4 ;
    }
  
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #929496;
  display: flex;
  flex-wrap: wrap;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family: "Lora", sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #296A8B;
}


header {
    font-size: 35px;
    text-align: center;
    color: #515253;
    font-family: "Poppins", sans-serif;
    margin: 20px 0;
}
 
.alaotsikko {
    font-size: 30px;
    color: #515253;
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

section { 
    font-size: 20px;
    color: #2F3640;
    font-family: "Lora", sans-serif;
    width: 90%;
    margin: auto;
   }

img {
    max-width: 100%;
    height: auto;  
    display: block;              
}

section img {
    width: 95%;
    padding: 10px 0px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  resize: vertical;
  font-family: "Lora", sans-serif;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

input[type=submit] {
  background-color: #296A8B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  max-width: 150px;
  text-align: center;
  }

.container {
  border-radius: 5px;
  background-color: #F2F4F4;
  padding: 20px;
  border-color: white;
  border-style: none;
  text-align: center;
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
}

.row {
  border-style: none;  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
    font-size: 16px;
    font-family: "Lora", sans-serif;
    background-color: #929496;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

@media only screen and (max-width: 650px) {
    section{ 
               width: 90%; 
    }
    header  {
        font-size: 21px;
        word-wrap: break-word;
    }
  
  .alaotsikko {
        font-size: 19px;
  }
    section {
      font-size: 15px;
    } 

  input[type=submit] {
   width: 50%;
  }

 ul {
  flex-direction: column;
  align-items: center;
}
}

@media only screen and (min-width: 1025px) {
    section{ 
               width: 55%; 
    }
   
   }
    
   


